<% if @track && @track.errors.any? %>
  <div>
    <strong> Some issues with your track, please fix them:</strong>
    <ul>
      <% @track.errors.full_messages.each do |track| %>
        <li><%= track %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="add_track">
  <form method="POST" action="/tracks">
    <div class="add">  
      <h3 class="the_wall">Add a song to The Wall:</h3>
    </div>
    <div class="form-group">
      <label>Title:</label>
      <input class="form-control" type="text" name="title" value="<%= @track && @track.title %>">
    </div>
    <div class="form-group">
      <label>Artist:</label>
      <input class="form-control" type="text" name="artist" value="<%= @track && @track.artist %>">
    </div>
    <div class="form-group">
      <label>URL:</label>
      <input class="form-control" type="text" name="url" value="<%= @track && @track.url %>">
    </div>
    <div>
      <input class="btn btn-default" type="submit" value="Submit">
    </div>
  </form>
</div>