<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/stylesheets/application.css">
  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css">
  <!--
    application.css is where you put your styles
  -->

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascript/application.js"></script>
  <!-- <script src="/vendor/bootstrap/js/bootstrap.js"></script> -->

  <title></title>
</head>
<body>
  <div id="background">
    <img src="http://bravewords.com/medias-static/images/news/2014/5498522E-pink-floyd-members-deconstruct-epic-1979-album-the-wall-on-35th-anniversary-inthestudio-interview-part-2-now-online-image.jpg" class="stretch"/>
  </div>
    <%= yield %>
</body>
</html>
